.env
.ipynb_checkpoints
__pycache__

data/manifests
data/ttl
data/source
data/xml
!/data/xml/oai/.gitkeep
localScripts
scripts/.task
scripts/*.log
services/platform/apps/static/assets/no_auth/*.jpg

docker-compose.override.yml